* {
  padding: 0; margin: 0;
  box-sizing: border-box;
}  

.container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  width: 500px;
  height: 500px;

  background-color: white;
  border: 2px solid black;
}

.grid div {
  display: inline-block;
  vertical-align: top;

  border: 1px solid lightgray;
}

.grid div:hover {
  background-color: lightgray;
}

.slider {
  text-align: center;
}
